@import "../../styles/variables.scss";

.content {
  background-image: linear-gradient($color_gradient_primary_top, $color_gradient_primary_bottom);
  height: 100%;
  overflow: hidden;

  &__header {
    grid-area: header;
  }

  &__main {
    grid-area: main;
    display: grid;

    grid-template-areas: "shape1 form shape2";
    grid-template-columns: 40% 35% 25%;

    #shape-1 {
        grid-area: shape1;
        margin: 0;
        justify-self: end;
        margin-right: 10px;

        & > div {
          max-width: 530px !important;
        }
    }
    #shape-3 {
      display: none;
    }
    #form {
        grid-area: form;
    }
    #shape-2 {
        grid-area: shape2;

        & > div {
          margin-left: -70px !important;
          height: 605px;
          width: 429px;
          max-width: none !important;
        }
    }
  }

  &__footer {
    height: 60%;
    background-color: $color_secundary;
    grid-area: footer;
    align-self: flex-end;
  }

  display: grid;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-rows: 20% 40% 40%;

}

@media (max-width: 1300px) {
  .content {
    &__footer {
      height: 20%;
    }

    &__main {
      grid-template-columns: 50% 35% 15%;
    }

    #shape-1 > div {
      max-width: 630px !important;
      margin-top: 100px !important;
    }

    #shape-2 > div {
      margin-left: 0px !important;
    }
  }
}


@media (max-width: 1000px) {
  .content {
    &__main {
      grid-template-columns: 50% 50%;
      margin: 20px;
    }

    #shape-1 > div {
      max-width: 630px !important;
      margin-top: 100px !important;
    }

    #shape-2 {
      display: none;
    }
  }
}

@media (max-width: 830px) {
  .content {
    grid-template-rows: 10% auto 15%;  
    overflow-y: scroll;

    &__footer {
      height: 100%;
    }

    &__main {
      margin-top: 0px;

      #shape-1 {
        display: none;
      }

      #shape-3 {
        display: block;
        text-align: center;
        margin-bottom: -100px;
      }

      display: inline;
    }
  }
}