@import "../../styles/variables.scss";

.content {
  background-image: linear-gradient($color_gradient_primary_top, $color_gradient_primary_bottom);
  height: 100%;
  overflow: scroll;
  display: grid;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-rows: 7% auto 7%;

  &__header {
    grid-area: header;
  }

  &__main {
    grid-area: main;
    background: #F1F5F7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 40px;
  }

  &__footer {
    grid-area: footer;
    background: #fff;
    text-align: center;

    font-family: $font_open_sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    
    color: #343434;

    display: flex;
    flex-direction: column;
    justify-content: center;    
  }

  &__ellipsis {
    margin-bottom: 75px;
  }

  &__presentation-card {
    background: #FFFFFF;
    max-width: 1140px;
    max-height: 235px;

    width: 100%;
    margin: 24px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr 3fr;

    &--title {
      font-family: $font_poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 160%;
      
      color: #200E64;      
    }
    
    &--text {
      font-family: $font_open_sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      
      color: #343434;
    }

    &--fig1 {
      width: 126px;
      height: 150px;    
      margin-left: -40px;
    }

    &--fig2 {
      width: 332px;
      height: 182px;   
    }
  }
}

@media (max-width: 1250px) {
  .content__presentation-card--fig1 {
    margin-left: 20px;
  }
}

@media (max-width: 830px) {
  .content {
    &__footer span {
      display: none;      
    }

    &__ellipsis {
      display: none;
    }

    article {
      margin: 20px;
    }

    &__cards {
      grid-template-columns: none;
      grid-auto-flow: row;
      grid-gap: 20px;
    }

    &__presentation-card {
      display: flex;
      flex-direction: column;   
      height: 165px; 
      width: auto;

      &--fig1 {
        width: 64px;
        height: 68px;
        align-self: flex-end;
        margin-bottom: -75px;
        margin-top: -10px;
      }

      &--fig2 {
        display: none;
      }
    }
  }
  
}

