$color_gradient_primary_top: #7A57FD;
$color_gradient_primary_bottom: #6135D7;
$color_primary: #6F48EC;
$color_secundary: #200E64;
$color_tertiary : #FFD74F;
$color_tertiary_light: #FFEAA4;
$color_white: #FFF